*.pyc
*.swp
/ChangeLog
/Makefile
/config.h
/config.log
/config.status
/configure
/windowsinstaller.iss
/run-solfege.py
/debian-solfege.py.in
/debian-solfege.py
/autopackage/default.apspec
/solfege.redhat9.spec
/solfege.suse9.spec
/aclocal.m4
/autom4te.cache
/solfege/languages.py
/topdocs/defs.texi
/po/*.mo

/help/*/
!/help/*/.po
!/help/Makefile
!/help/*/figures/*.png
!/help/C/*.xml
/help/C/solfege.xml
!/help/C/Makefile
!/help/C/solfege.xml.in
!/C/scales/
!/help/C/ly/scale-common.ly
!/help/C/ly/theory-intervals-seconds-1.ly
!/help/C/ly/theory-intervals-seconds-2.ly
!/help/C/ly/theory-intervals-seconds-3.ly
!/help/C/ly/theory-intervals-fifths-1.ly
!/help/C/ly/theory-intervals-fifths-2.ly
!/help/*/figures/*.png
!/help/style.css

/solfege/soundcard/solfege_c_midi.py
/solfege/soundcard/solfege_c_midi_wrap.c
/solfege/soundcard/winmidi.pyd
solfege.png
flat.png
natural.png
notehead.png
sharp.png
double-flat.png
double-sharp.png
erase.png
solfege.1
INSTALL
INSTALL.win32
FAQ
AUTHORS
lessonfile_editor.1
po/solfege.pot
README
share
solfegedebug.bat
exercises/standard/regression-lesson-files/xx-chord-exceptions
exercises/standard/regression-lesson-files/xx-chordvoicing-exceptions
exercises/standard/regression-lesson-files/xx-dictation-exceptions
exercises/standard/regression-lesson-files/xx-elembuilder-exceptions
exercises/standard/regression-lesson-files/xx-harmonicprogressiondictation-exceptions
exercises/standard/regression-lesson-files/xx-idbyname-exceptions
exercises/standard/regression-lesson-files/xx-idproperty-exceptions
exercises/standard/regression-lesson-files/xx-rhythmtapping-exceptions
exercises/standard/regression-lesson-files/xx-singanswer-exceptions
exercises/standard/regression-lesson-files/xx-singchord-exceptions
exercises/standard/lesson-files/csound-fifth-*
exercises/standard/lesson-files/csound-intonation-*
exercises/standard/lesson-files/hear-tones-triads
exercises/standard/lesson-files/hear-tones-triads-difficult
exercises/csound-tree.txt
solfege/_version.py
solfege/buildinfo.py
exercises/standard/csound-tree.txt
